[class^="img-logo-"] {
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 1;
  display: block;
  width: 8rem;
  height: auto;
  position: relative;
}

.img-logo-Kotlin.slide-exit {
  transform: translateX(-100%);
  opacity: 0;
}

.img-logo-Kotlin.slide-enter {
  transform: translateX(-100%);
  opacity: 0;
  animation: slideInLeft 0.6s ease forwards;
}

.img-logo-Kotlin.slide-idle {
  transform: translateX(0);
  opacity: 1;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.img-logo-JB.slide-exit {
  transform: translateX(100%);
  opacity: 0;
}

.img-logo-JB.slide-enter {
  transform: translateX(100%);
  opacity: 0;
  animation: slideInRight 0.6s ease forwards;
}

.img-logo-JB.slide-idle {
  transform: translateX(0);
  opacity: 1;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@media (max-width: 600px){
  [class^="img-logo-"]{
    display: none;
  }
}
