.app-container{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

header{
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    width: 100%;
    height: 10vh;
    max-height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(61, 61, 61);
    z-index: 100;
}

header span{
    color: #f3f3f3;
    font-size: 20px;
}

main{
    padding: 1rem 0.5rem;
    min-width: 100vw;
    width: auto;
    height: auto;
    min-height: 85vh;
    background: linear-gradient(90deg, #003f5b, #2b4b7d, #5f5195, #98509d, #cc4c91, #f25375, #ff6f4e, #ff9913);
    overflow-x: hidden;
}

footer{
    width: 100%;
    height: 10vh;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a344aa;
    align-self: flex-end;
    gap: 1rem;
}

footer{
    color: #f3f3f3;
    font-size: 15px;
}

@media (max-width: 600px){
    footer{
        font-size: 8px;
    }
}