.app-container{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

header{
    width: 100%;
    height: 10vh;
    max-height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: aquamarine;
}

main{
    padding: 1rem 0.5rem;
    height: auto;background: linear-gradient(90deg, #003f5b, #2b4b7d, #5f5195, #98509d, #cc4c91, #f25375, #ff6f4e, #ff9913);
    
}

footer{
    width: 100%;
    height: 5vh;
    max-height: 50px;
    background-color: brown;
    align-self: flex-end;
}