*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: cursive;
}

body{
  min-width: 100%;
  min-height: 100dvh;
}

@media (max-width: 650px){
  *{
    font-family: 'Times New Roman', Times, serif;
  }
}
